.MicrophoneContainer {
  margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.LogsOutputContainer {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 30%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.TranscribedInputContainer {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 30%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
